@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

:root {
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{    
    background: url(https://skylab.rocketseat.com.br/static/media/MountainsOpacity.a4edba24.png) 0% 0% / cover fixed, rgb(11, 10, 13);
    background-image: url(https://skylab.rocketseat.com.br/static/media/MountainsOpacity.a4edba24.png), initial;
    background-position-x: initial, initial;
    background-position-y: initial, initial;
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: rgb(20, 12, 37);
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

header {
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.4);
}

.Links {
    text-align: center;
}

.Links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    text-decoration: none;
    transition: color 1000ms;
}

.Links a:hover{
    color: var(--color-rocket);
    transition: color 500ms;
    border-bottom: 2px solid var(--color-rocket);
}

.logo-img img{
    margin-top: 30px;
    border-radius: 50%;
    width: 300px;
}

.description h1{
    max-width: 200px; 
    margin: 32px auto;
    font-size: 34px;
    line-height: 44px;
    transition: color 500ms;
    
}

.techs li {
    margin: 30px;
    padding-top: 30px;
    display: flex;
    display: -webkit-inline-flex;
    justify-content: center;
}

.techs img {
    /* align-items: center; */
    width: 50px;
    border-radius: 20%;
}

h1:hover {
    color: var(--color-rocket);
    transition: color 500ms;
}

p{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

.footer-links { 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    padding: 30px;
    border-top: 1px solid #333;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
}

.footer-links img {
    cursor: pointer;
    width: 5%;
    transition: 500ms;
}

.footer-links img:hover {
    transform: rotate(40deg);
    transition: 400ms;
}

.footer-links h1{
    font-size: 22px;
}

