<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Foodfy</title>
</head>
<body>
  <header>
        <div class="menu">
          <a href="index.html" class="home" ><img src="./assets/logo.png" alt=""></a>
          <a href="description.html" class="sobre">Sobre</a>
          <a href="recipes.html" class="receitas">Receitas</a>
        </div>
  </header>
  <section class="recipies-content">
  <div class="cards">

    <div id="burger.png" class="card">
      <div class="card-img-container">
        <img src="./assets/burger.png" alt="Triplo bacon burger">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Triplo bacon burger</h2>
        <p class="modal-chef">por Jorge Relato</p>
      </div>
    </div>

    <div id="pizza.png" class="card">
      <div class="card-img-container">
        <img src="./assets/pizza.png" alt="Pizza">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Pizza 4 estações</h2>
        <p class="modal-chef">por Fabiana Melo</p>
      </div>
    </div>

    <div id="espaguete.png" class="card">
      <div class="card-img-container">
        <img src="./assets/espaguete.png" alt="Espaguete">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Espaguete ao alho</h2>
        <p class="modal-chef">por Júlia Kinoto</p>
      </div>
    </div>

    <div id="lasanha.png" class="card">
      <div class="card-img-container">
        <img src="./assets/lasanha.png" alt="Lasanha">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Lasanha mac n’ cheese</h2>
        <p class="modal-chef">por Juliano Vieira</p>
      </div>
    </div>

    <div id="doce.png" class="card">
      <div class="card-img-container">
        <img src="./assets/doce.png" alt="Docinhos">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Docinhos pão-do-céu</h2>
        <p class="modal-chef">por Ricardo Golvea</p>
      </div>
    </div>

    <div id="asinhas.png" class="card">
      <div class="card-img-container">
        <img src="./assets/asinhas.png" alt="Asinhas">
      </div>
      <div class="card-content">
        <h2 class="modal-title">Asinhas de frango ao barbecue</h2>
        <p class="modal-chef">por Vania Steroski</p>
      </div>
    </div>
    </section>
    </div>

    <div class="modal-overlay">
        <div class="modal">
    
          <div class="modal-content">
            <div class="modal-img-container">
              <img class="modal-img" src="" alt="">
            </div>  
            <div class="modal-info">
              <h1 class="modal-title"></h1>
              <p class="modal-chef"></p>
            </div>
            <div class="close-modal">Voltar</div>
          </div>  
           
        </div>
      </div>
      <script src="script.js"></script>
    
      <footer>
        <div class="footer-container">
          <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
      </footer>
    </body>
    </html>